<template>
    <div id="app">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="/" class="navbar-brand pl-2">farhad rohani</a>
            <div class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link :to="{name:'home.redirect'}"  class="nav-link">
                        <font-awesome-icon icon="home"/>
                        Home
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'home2'}"  class="nav-link">
                        <font-awesome-icon icon="home"/>
                        Home2
                    </router-link>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link">
                        <font-awesome-icon icon="user"/>
                        Panel Admin
                    </a>
                </li>
                <li v-if="showAdminBoard" class="nav-item">
                    <router-link :to="{name:'admin'}" class="nav-link">Admin Board</router-link>
                </li>
                <li v-if="showModeratorBoard" class="nav-item">
                    <router-link :to="{name:'moderator'}" class="nav-link">Moderator Board</router-link>
                </li>
                <li class="nav-item">
                    <router-link v-if="currentUser" :to="{name:'subscriber'}" class="nav-link">Subscriber Board</router-link>
                </li>
            </div>

            <div v-if="!currentUser" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/register" class="nav-link">
                        <font-awesome-icon icon="user-plus"/>
                        Sign Up
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/login" class="nav-link">
                        <font-awesome-icon icon="sign-in-alt"/>
                        Login
                    </router-link>
                </li>
            </div>

            <div v-if="currentUser" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/profile" class="nav-link">
                        <font-awesome-icon icon="user"/>
                        {{ currentUser.username }}
                    </router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click.prevent="logOut">
                        <font-awesome-icon icon="sign-out-alt"/>
                        LogOut
                    </a>
                </li>
            </div>
        </nav>

        <div class="container">
            <router-view/>
            <vue-progress-bar></vue-progress-bar>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        //  [App.vue specific] When App.vue is finish loading finish the progress bar
        this.$Progress.finish();
    },
    created() {
        //  [App.vue specific] When App.vue is first loaded start the progress bar
        this.$Progress.start();
        //  hook the progress bar to start before we move router-view
        this.$router.beforeEach((to, from, next) => {
            //  does the page we want to go to have a meta.progress object
            if (to.meta.progress !== undefined) {
                let meta = to.meta.progress;
                // parse meta tags
                this.$Progress.parseMeta(meta);
            }
            //  start the progress bar
            this.$Progress.start();
            //  continue to next page
            next();
        });
        //  hook the progress bar to finish after we've finished moving router-view
        this.$router.afterEach((to, from) => {
            //  finish the progress bar
            this.$Progress.finish();
        });
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },
        showAdminBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('admin');
            }

            return false;
        },
        showModeratorBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('moderator');
            }

            return false;
        }
    },
    methods: {
        logOut() {
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
        }
    },
};
</script>
