<template>
    <div class="container flex flex-row flex-wrap gap-2 ">
        <div  v-for="post in posts" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
            <PostCard :post="post"></PostCard>
        </div>
    </div>
</template>

<script>
import PostService from "../services/post.service";
import {swal_alert, form_data} from "../services/global";
import PostCard from "./PostCard.vue";

export default {
    name: "User",
    data() {
        return {
            posts: [],
        };
    },
    mounted() {
        PostService.search({'user_role': 'subscriber'})
            .then(response => {
                response.data.forEach(post => this.posts.push(post))
            })
            .catch(error => {

            })
    },
    components:{
        PostCard
    }
};
</script>
