<template>
    <div>
        <StorePost v-show="showStorePost" @changeShow="showStorePost=false" @newPost="newPostAdded"></StorePost>
        <button @click="showStorePost=!showStorePost" class=" m-12  inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            broadcast new post
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="container flex flex-row flex-wrap gap-2 ">
            <div  v-for="post in posts" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
                <PostCard :post="post"></PostCard>
            </div>
        </div>
    </div>

</template>


<script>
import PostService from "../services/post.service";
import PostCard from "./PostCard.vue";
import StorePost from "./StorePost.vue";


export default {
    name: "Home",
    data() {
        return {
            posts: [],
            showStorePost:false
        };
    },
    mounted() {
        PostService.search({'user_role': ''})
            .then(response => {
                response.data.forEach(post => this.posts.push(post))
            })
            .catch(error => {

            })

        Echo.channel('posts')
            .listen('.newPost', (event) => {
                console.log(event,'ggggggggggg');
                this.posts.unshift(event.post);
            });
    },
    components:{
        PostCard,
        StorePost
    },
    methods:{
        newPostAdded(post) {
            this.posts.unshift(post);
        },
    }
};
</script>
