<template>
    <v-layout ref="app" class="rounded rounded-md">
        <v-app-bar color="grey-lighten-2" name="app-bar">
            <child v-slot="{ print }">
                <v-btn class="mx-auto" @click="print('app-bar')">Get data</v-btn>
                <router-link :to="{name:'home'}" class="nav-link mx-auto">
                    <v-btn class="mt-2 ">
                        back to home 1
                    </v-btn>
                </router-link>            </child>
        </v-app-bar>

        <v-navigation-drawer
            color="grey-darken-2"
            permanent
            name="drawer"
        >
            <div class="d-flex justify-center align-center h-100  ">
                <child v-slot="{ print }" >
                    <v-btn class="mt-2 " @click="print('drawer')">Get data</v-btn>
                    <router-link :to="{name:'home'}" class="nav-link">
                        <v-btn class="mt-2 ">
                            back to home 1
                        </v-btn>
                    </router-link>

                </child>
            </div>
        </v-navigation-drawer>

        <v-main class="d-flex align-center justify-center " style="min-height: 300px;">
            <span class="animate-pulse">A Vuetify Component</span>
        </v-main>

        <v-footer
            app
            name="footer"
        >
            <v-btn
                class="mx-auto"
                variant="text"
                @click="print('footer')"
            >
                Get data
            </v-btn>
            <router-link :to="{name:'home'}" class="nav-link mx-auto">
                <v-btn class="mt-2 " variant="text">
                    back to home 1
                </v-btn>
            </router-link>
        </v-footer>
    </v-layout>
</template>
<script>
import {useLayout} from 'vuetify'

const Child = {
    setup(props, ctx) {
        const {getLayoutItem} = useLayout()

        function print(key) {
            alert(JSON.stringify(getLayoutItem(key), null, 2))
        }

        return () => ctx.slots.default({print})
    },
}

export default {
    components: {Child},
}
</script>
