<template>
    <div>
        <a href="#">
            <img class="rounded-t-lg" :src="post.image" alt=""/>
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 mw-48 overflow-hidden ">
                {{ post.description.slice(0, 100) + '...' }}</p>
            <div class="flex flex-row flex-nowrap justify-content-between">
                <a v-if="disabled" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <router-link :to="{name:'post', params: { id: post.id }}" class="nav-link">Read more</router-link>

                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
                <a v-else class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-800 rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600  dark:focus:ring-blue-800">
                    You don't access
                </a>
                <span class="border-2  p-1 rounded-full text-sm text-center ">{{ post.user_role }}</span>
            </div>

        </div>
    </div>
</template>

<script>
import PostService from "../services/post.service";
import {swal_alert, form_data} from "../services/global";

export default {
    name: "Admin",
    props: ['post'],
    computed: {
        disabled() {
            if (['home', 'home.redirect'].includes(this.$router.currentRoute.value.name) && !this.$store.state.auth.user) {
                return true
            } else {
                return this.$store.state.auth.user['roles'].includes(this.post.user_role);
            }
        },
    }
}
</script>
