<template>
    <main class="mt-10">
        <div class="mb-4 md:mb-0 w-full mx-auto relative">

            <div class="px-4 lg:px-0">
                <h2 class="text-4xl font-semibold text-gray-800 leading-tight">{{ post.title }}</h2>
            </div>

            <img :src="post.image" class="w-full object-cover lg:rounded" style="height: 28em;"/>

        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-12">
            <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
                <p class="pb-6">{{ post.description }}</p>
            </div>
        </div>
    </main>
</template>

<script>
import PostService from "../services/post.service";
import {swal_alert} from "../services/global";

export default {
    name: 'Post',
    data() {
        return {
            post: {},
        };
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        }
    },
    mounted() {
        PostService.show(this.$router.currentRoute.value.params.id)
            .then(response => {
                this.post = response.data;
            })
            .catch(error => {

            })


        if (this.currentUser && this.currentUser['roles'] && this.currentUser['roles'].includes(this.post.user_role)) {
            this.$router.back();
        }
    },
    unmounted() {
        this.post = {}
    }
};
</script>
