<template>
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <!--
          Background backdrop, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <!--
                  Modal panel, show/hide based on modal state.

                  Entering: "ease-out duration-300"
                    From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    To: "opacity-100 translate-y-0 sm:scale-100"
                  Leaving: "ease-in duration-200"
                    From: "opacity-100 translate-y-0 sm:scale-100"
                    To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                -->
                <div
                    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start justify-center">

                            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Add new
                                    post</h3>
                                <div class="mt-2">

                                    <form>
                                        <div class="space-y-12">
                                            <div class=" p-2">

                                                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                                    <div class="sm:col-span-full">
                                                        <label for="title"
                                                               class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                                                        <div class="mt-2">
                                                            <div
                                                                class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                                                <input v-model="post.title" type="text" name="title"
                                                                       id="title" autocomplete="title"
                                                                       class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-span-full">
                                                        <label for="description"
                                                               class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                                                        <div class="mt-2">
                                                            <textarea v-model="post.description" id="description"
                                                                      name="description" rows="3"
                                                                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{post.description}}</textarea>
                                                        </div>
                                                        <p class="mt-3 text-sm leading-6 text-gray-600">Write a few
                                                            sentences description yourself.</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 flex sm:flex-row-reverse sm:px-6 gap-6">

                        <button @click.prevent="store" type="submit"
                                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Save
                        </button>
                        <button @click="$emit('changeShow',false)" type="button"
                                class="text-sm font-semibold leading-6 text-gray-900">Cancel
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import PostService from "../services/post.service";

export default {
    name: "StorePost",
    data() {
        return {
            post: {
                description: '',
                title: '',
                user_role: 'public'
            }
        };
    },
    methods: {
        store() {

            PostService.create(this.post)
                .then(response => {
                    this.$emit('newPost', response.data)
                    this.$emit('changeShow', false)
                    this.post = {
                        description: '',
                        title: '',
                        user_role: 'public'
                    };
                })
                .catch(error => {
                })
        },
    },
};
</script>

